{% extends "layout.html" %}

{% block heading %}
    First Page
{% endblock %}

{% block body %}
        <h1>{{ headline }}</h1>


        <form action="{{ url_for('test') }}" method="post">
            <input type="text" name="name" placeholder="Enter you Name">
            <button>Submit</button>
        </form>

        <h2>Notes</h2>

        <ul>
            {% for note in notes %}
                <li>{{ note }}</li>
            {% endfor %}
        </ul>

        <form action="{{  url_for('index') }}" method="post">
            <input type="text" name="note" placeholder="Insert a Note Here">
            <button>Submit</button>
        </form>
        <br>
        <a href="{{ url_for('time') }}">See time</a>
{% endblock %}